@model school_manegment_system.Models.school

@{
    ViewData["student performance"] = "Details";
}
<style>
    .p{
        color:gray;

    }
</style>
<body class="bgimg">

<div class="container">
    <h1>Student Progess</h1>
    <p class="p">the student progess will be change montnly and we are change student password monthly if you have no student password so  pls contact your child class teacher for password  </p>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">student Information</h4>
                    <hr />

                    <dl class="row">
                        <dt class="col-sm-4">Name</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Name)</dd>

                        <dt class="col-sm-4">Parent Name</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.parent_name)</dd>

                        <dt class="col-sm-4">Teacher's Name</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.class_teachname)</dd>

                        <dt class="col-sm-4">Class</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.classs)</dd>

                        <dt class="col-sm-4">Progress</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.progress)</dd>

                        <dt class="col-sm-4">Section</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.section)</dd>

                        <dt class="col-sm-4">Roll No</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.roll_no)</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>

    <div class="text-center mt-4">
        <a asp-action="Logout" asp-controller="parent" class="btn btn-danger">Logout</a>
    </div>
</div>
</body>
<style>

    .bgimg {
        background-image: url(https://th.bing.com/th/id/OIG.uC1vK5We2rgXDx4mxgJS?w=270&h=270&c=6&r=0&o=5&dpr=1.3&pid=ImgGn);
        opacity: 0.7;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: scroll; /* Optional: This makes the background image fixed when scrolling */
        /* Other styles you may want to include */
        margin: 0; /* Remove default body margin */
        padding: 0; /* Remove default body padding */
    }

    h1 {
        color: white;
    }

    p {
        color: white;
    }
</style>
